{% extends "base_site.html" %}
{% load staticfiles %}

{% block body %}

{% if latest_post %}
    <p><strong>Nyt:</strong></p>
    <h3>{{ latest_post.title }} - {{ latest_post.posted|date:"d.m.Y" }}</h3>
    <p>{{ latest_post.body }}</p>
    {% if documents %}
        {% if documents > 1 %}
            <p class="italic">Uploadede dokumenter:</p>
        {% else %}
            <p class="italic">Uploadet dokument:</p>
        {% endif %}
        <ul>
            {% for document in documents %}
            <li>
                <a href="{% static document.doc.url %}">{{ document.file_name }}</a>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if images %}
        {% if images|length > 1 %}
            <p class="italic">Uploadede billeder:</p>
        {% else %}
            <p class="italic">Uploadet billede:</p>
        {% endif %}
        {% for image in images %}
        <a href="{{ MEDIA_URL }}{{ image.image.url }}"><img src="{% static image.image.url %}" class="image_thumbnail"></a>
        {% endfor %}
    {% endif %}
{% endif %}


{% if posts %}
<p><strong>Andre nyheder:</strong></p>
{% for post in posts %}
    <p>{{ post.posted.date }}: <a href="{% url 'detail' post.id %}">{{ post.title }}</a></p>
    <p class="italic">{{ post.body|slice:":60" }}{% if post.body|length > 50 %}...{% endif %}</p>
{% endfor %}
<h3>Se ældre nyheder <a href="{% url 'news' %}">her</a></h3>
{% endif %}
{% endblock %}
